<!-- INCLUDECSS @mjimeyg_documentmanager/menu.css -->
<!-- INCLUDECSS @mjimeyg_documentmanager/category_manager_macros.css -->
<!-- INCLUDECSS @mjimeyg_documentmanager/create_document.css -->
<!-- INCLUDECSS @mjimeyg_documentmanager/cupertino/jquery-ui.css -->
<!-- IF not $INCLUDED_JQUERYUIJS -->
	<!-- INCLUDEJS //code.jquery.com/ui/1.11.4/jquery-ui.js -->
	<!-- DEFINE $INCLUDED_JQUERYUIJS = true -->
<!-- ENDIF -->
<!-- IF not $INCLUDED_DM_FUNCTIONS_JS -->
	<!-- INCLUDEJS @mjimeyg_documentmanager/functions.js -->
	<!-- DEFINE $INCLUDED_DM_FUNCTIONS_JS = true -->
<!-- ENDIF -->

