<div class="forabg dm_side_menu">
    <div class="inner">
        <ul class="topiclist">
            <li class="header">
                <dl class="icon">
                    <dd class="topics">Menu</dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums">

            <li class="row">
                <ul>
                    <li><a href="{{ lang('MAIN_LINK') }}">{{ lang('MAIN') }}</a></li>
                    <li><a href="{{ lang('SERIES_LINK') }}">{{ lang('SERIES') }}</a></li>
                    <li><a href="{{ lang('DOCUMENTS_LINK') }}">{{ lang('DOCUMENTS') }}</a></li>
                    <li><a href="{{ lang('AUTHORS_LINK') }}">{{ lang('AUTHORS') }}</a></li>
                    <li><a href="{{ lang('CATEGORIES_LINK') }}">{{ lang('CATEGORIES') }}</a></li>
                </ul>
            </li>


        </ul>

    </div>
</div>